<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content">
    <div class="container m-5">
        <div class="">
            <div class="">
                <h3>Not Authorized</h3>
            </div>
            <div class="">
                <h1>Vous n'avez pas le droit d'acceder a cette page</h1>
            </div>
        </div>
    </div>
</div>


</body>
</html>